<html>
  <head>
    <title>
      {gcr}
    </title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
    <script>
      $(document).ready(function() {
        $("button#email-submit").click(function() {
          $("div#email-alert").hide();
          $.post("/add-email/", {"email" : $("input#email-text").val()})
        });
        $("a.add-repo").click(function() {
          var repo = $(this).html();
          $.post("/start-review/", {"repo" : repo});
          $(this).parent().hide();
          $("table#repos-review").append("<tr><td class=\"last\">" + repo + "</td></tr>");
        });
        $("button#reviewer-yes").click(function() {
          $("div#reviewer-alert").hide();
          $.post("/reviewer-status/", {"accepted" : true});
        });
        $("button#reviewer-no").click(function() {
          $("div#reviewer-alert").hide();
          $.post("/reviewer-status/", {"accepted" : false});
        });
      });
    </script>
  </head>
  <body>
    <div id="header">
      <h2 id="pagetitle">{gcr}</h2>
      <div id="usercontrols">logged in as: <span id="username"><%= @user.username %></span> | <a href="/logout/">logout</a></div>
      <div style="clear:both;"></div>
    </div>
    <div id="reviews-wrapper">
      <% if not @user.email %>
      <div id="email-alert" class="message" style="text-align:center;">Please provide your email address:<input type="text" id="email-text" class="text small"><button class="small" id="email-submit">Submit</button></div>
      <% end %>
      <% if @user.is_reviewer == nil %>
      <div id="reviewer-alert" class="message" style="text-align:center;">Do you want to be a reviewer on your own projects?<button class="small" id="reviewer-yes">Yes</button><button class="small" id="reviewer-no">No</button></div>
      <% end %>
    <div id="pendingcount">You have <%= @revs_pending.length %> review<% if @revs_pending.length != 1 %>s<% end %> pending. <% if @revs_pending.length > 0 %>Get cracking!<% else %>Time to relax!<% end %></div>

    <div class="reviews">
    <table class="text" id="repos-review">
      <tr>
        <th>
          Repos you own under review
        </th>
      </tr>
      <% if @repos_on.empty? %>
      <tr>
        <td class="last">
          (none)
        </td>
      </tr>
      <% else %>
        <% for repo in @repos_on %>
      <tr>
        <td class="last">
          <%= repo %>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
    </div>
    <div class="reviews">
    <table class="text">
      <tr>
        <th>
          Pending reviews <span class="small">&nbsp;&raquo;&nbsp;do these</span>
        </th>
      </tr>
      <% if @revs_pending.empty? %>
      <tr>
        <td class="last">
          (none)
        </td>
      </tr>
      <% else %>
        <% for rev in @revs_pending %>
      <tr>
        <td class="last">
          <a href="/reviews/<%= rev.id %>"><%= rev.push.repo.url %> : <%= rev.push.before[1,7] %>...<%= rev.push.after[1,7] %></a>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
    </div>
    <div style="clear:both;"></div>
    <div class="reviews">
    <table class="text" id="repos-noreview">
      <tr>
        <th>
          Repos you own <em>not</em> under review <span class="small">&nbsp&raquo;&nbsp;click one to place it under review</span>
        </th>
      </tr>
      <% if @repos_off.empty? %>
      <tr>
        <td class="last">
          (none)
        </td>
      </tr>
      <% else %>
        <% for repo in @repos_off %>
      <tr>
        <td class="last">
          <a class="add-repo"><%= repo %></a>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
    </div>
    <div class="reviews">
    <table class="text">
      <tr>
        <th>
          Recent completed reviews
        </th>
      </tr>
      <% if @revs_completed.empty? %>
      <tr>
        <td class="last">
          (none)
        </td>
      </tr>
      <% else %>
        <% for rev in @revs_completed %>
      <tr>
        <td class="last">
          <% if rev.approved %>
            <span class="completed-positive"><%= rev.push.repo.url %> : <%= rev.push.before[1,7] %>...<%= rev.push.after[1,7] %></span>
          <% else %>
            <span class="completed-negative"><%= rev.push.repo.url %> : <%= rev.push.before[1,7] %>...<%= rev.push.after[1,7] %></span>
          <% end %>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
    </div>
    <div style="clear:both;"></div>
    </div>
  </body>
</html>
